<ion-view title="Address">
  <ion-content padding="false" class="has-header" style="background-color:#f3f3f3;">
  	

 
  <div class="row" style="padding:15px;">
	  <div class="col col-67"><span style="font-size:18px;">Thursday- December 25</span></br>1:00PM - 3 Hours</div>
	  <div class="col col-33" style="text-align:right;"><h2>$90</h2></div>
  </div>



 <label class="item item-input">
    <input type="text" placeholder="Full Name" >
  </label>

  <label class="item item-input">
    +1<input type="number" placeholder="Phone" style="padding-left:10px;" >
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Street Address" class="col-75"> <input type="number" placeholder="Apt #" class="col-25">
  </label>



  </ion-content>
<div class="bar bar-footer bar-calm" ui-sref="menu.cardinfo">
  <div class="title">Next</div>
</div>
</ion-view>