<ion-view title="How Often">

<style>
	
.item
{
	height:auto !important;
}


</style>
  <ion-content padding="false" class="has-header" style="background-color:#f3f3f3;">
  	

  <div class="row" style="padding:15px;">
	  <div class="col col-67"><span style="font-size:18px;">Thursday- December 25</span></br>1:00PM - 3 Hours</div>
	  <div class="col col-33" style="text-align:right;"><h2>$90</h2></div>
  </div>

<ion-radio ng-model="choice" ng-value="'A'" checked="checked">Weekly</ion-radio>
<ion-radio ng-model="choice" ng-value="'B'">BiWeekly (<span style="font-size:12px;padding-top:0px;">Most Popular</span>)</ion-radio>


<div class="spacer" style="width:100%;height:80px;"></div>


<div style="width:60%;text-align:center;margin:auto;">
<h5>Plans are flexible. Skip, Cancel or reschedule them anytime</h5>
</div>
  </ion-content>


<div class="bar bar-footer bar-calm" ui-sref="menu.homecleaner_extras">
  <div class="title">Next</div>
</div>
</ion-view>