<ion-view title="Time">
  <ion-content padding="false" class="has-header" style="background-color:#f3f3f3;">
  	
  	<h4 style="text-align:center;padding:20px;">When you want us to come?</h4>


  <label class="item item-input item-select ">
    <div class="input-label">
      Date
    </div>
    <input type="date" />
  </label>


  <label class="item item-input item-select">
    <div class="input-label">
      Time
    </div>
    <input type="time" />
  </label>


  </ion-content>
<div class="bar bar-footer bar-calm" ui-sref="menu.homecleaner_howoften">
  <div class="title">Next</div>
</div>
</ion-view>