
<ion-view title="Extras">


<style>
	
.item
{
	height:auto !important;
}


</style>



  <ion-content padding="false" class="has-header" style="background-color:#f3f3f3;">
  	

  <div class="row" style="padding:15px;">
	  <div class="col col-67"><span style="font-size:18px;">Thursday- December 25</span></br>1:00PM - 3 Hours</div>
	  <div class="col col-33" style="text-align:right;"><h2>$90</h2></div>
  </div>

  <ion-checkbox ng-model="extras.cabinet">Inside Cabinets</br><span style="font-size:12px;">+0.5 HOURS</span></ion-checkbox>
  <ion-checkbox ng-model="extras.fridge">Inside Fridge</br><span style="font-size:12px;">+0.5 HOURS</span></ion-checkbox>
  <ion-checkbox ng-model="extras.oven">Inside Oven</br><span style="font-size:12px;">+0.5 HOURS</span></ion-checkbox>
  <ion-checkbox ng-model="extras.wash">Laundary Wash & Dry</br><span style="font-size:12px;">+0.5 HOURS</span></ion-checkbox>
  <ion-checkbox ng-model="extras.window">Interior Window</br><span style="font-size:12px;">+1 HOURS</span></ion-checkbox>  




  </ion-content>
<div class="bar bar-footer bar-calm" ui-sref="menu.address">
  <div class="title">Next</div>
</div>
</ion-view>