<ion-view title="Place Details">
  <ion-content padding="false" class="has-header" style="background-color:#f3f3f3;">
  	

  <h4 style="text-align:center;padding:20px;">Tell us about your place</h4>

  <label class="item item-input item-select">
    <div class="input-label">
      Bedrooms
    </div>
    <select>
      <option>0</option>
      <option selected>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </label>


    <label class="item item-input item-select">
    <div class="input-label">
      Bathrooms
    </div>
    <select>
      <option>0</option>
      <option selected>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </label>

  </ion-content>
<div class="bar bar-footer bar-calm" ui-sref="menu.homecleaner_datetime">
  <div class="title">Next</div>
</div>
</ion-view>