<ion-view title="SOYPRO" hide-nav-bar="false" enable-menu-with-back-views="false">
  <ion-content padding="true" class="has-header" style="background-color:#f3f3f3;">



<!--
<ion-item class="item-thumbnail-left item-text-wrap" id="menu-list-item2" menu-close="">
          <img src="img/home_cleaning_icon.png">
          <h2 style="font-size:22px;font-weight:bold;margin-top:10px;">Home Cleaner</h2>
          <p>Let your home shine</p>
</ion-item>



<ion-item class="item-thumbnail-left item-text-wrap" id="menu-list-item2" menu-close="">
          <img src="img/health_care_icon.png">
          <h2 style="font-size:22px;font-weight:bold;margin-top:10px;">Health Care</h2>
          <p>Keep Them Happy</p>
</ion-item>


<ion-item class="item-thumbnail-left item-text-wrap" id="menu-list-item2" menu-close="">
          <img src="img/plumber_icon.png">
          <h2 style="font-size:22px;font-weight:bold;margin-top:10px;">Plumber</h2>
          <p>Go with the flow</p>
</ion-item>


<ion-item class="item-thumbnail-left item-text-wrap" id="menu-list-item2" menu-close="">
          <img src="img/handyman_icon.png">
          <h2 style="font-size:22px;font-weight:bold;margin-top:10px;">Handyman</h2>
          <p>Install, Repair, Assemble & More</p>
</ion-item>


<ion-item class="item-thumbnail-left item-text-wrap" id="menu-list-item2" menu-close="">
          <img src="img/electrician_icon.png">
          <h2 style="font-size:22px;font-weight:bold;margin-top:10px;">Electrician</h2>
          <p>Get Connected</p>
</ion-item>


<ion-item class="item-thumbnail-left item-text-wrap" id="menu-list-item2" menu-close="">
          <img src="img/moving_icon.png">
          <h2 style="font-size:22px;font-weight:bold;margin-top:10px;">Moving Help</h2>
          <p>Let us help you move</p>
</ion-item>


<ion-item class="item-thumbnail-left item-text-wrap" id="menu-list-item2" menu-close="">
          <img src="img/nurses_icon.png">
          <h2 style="font-size:22px;font-weight:bold;margin-top:10px;">Nurses</h2>
          <p>Thursday- December 25 </br>1:00PM - 3 Hours</p>
</ion-item>


-->









<div ui-sref="menu.homecleaner_location">
	<div class="row" style="background-color:white; border-radius:5px;">
	<div class="col col-50" style="text-align:center;">
		<div style="margin-top:8%;">
			<img src="img/home_cleaning_icon.png" width="35"/>
			<h5 class="small" style="font-weight:bold;">Home Cleaner</h5>
			<h6 class="small">Let your home shine</h6>
		</div>
	</div>
	<div class="col col-50">
		<img src="img/home_cleaning.png" style="border-top-right-radius:5px;border-bottom-right-radius:5px;" width="100%" height="100%" />
	</div>
	
	</div>
</div>

<div class="spacer" style="height:5px;"></div>


<div>
	<div class="row" style="background-color:white; border-radius:5px;">
	<div class="col col-50" style="text-align:center;">
		<div style="margin-top:8%;">
		<img src="img/health_care_icon.png" width="35"/>
		<h5 class="small" style="font-weight:bold;">Home Health Care</h5>
		<h6 class="small">Keep Them Happy</h6>
		</div>

	</div>
	<div class="col col-50">
	<img src="img/home_health_care.png" style="border-top-right-radius:5px;border-bottom-right-radius:5px;" width="100%" height="100%" />
	</div>
	
	</div>
</div>

<div class="spacer" style="height:5px;"></div>






<div ui-sref="menu.sub_plumber">
	<div class="row" style="background-color:white; border-radius:5px;">
	<div class="col col-50" style="text-align:center;">
		<div style="margin-top:8%;">
		<img src="img/plumber_icon.png" width="35"/>
		<h5 class="small" style="font-weight:bold;">Plumber</h5>
		<h6 class="small">Go with the flow</h6>
		</div>
	</div>
	<div class="col col-50">
		<img src="img/plumber.png" style="border-top-right-radius:5px;border-bottom-right-radius:5px;" width="100%" height="100%" />
	</div>
	
	</div>
</div>
<div class="spacer" style="height:5px;"></div>



<div ui-sref="menu.sub_handyman">
	<div class="row" style="background-color:white; border-radius:5px;">
	
	
	<div class="col col-50" style="text-align:center;">
		<div style="margin-top:8%;margin-left:auto;margin-right:auto;width:75%;" >
		<img src="img/handyman_icon.png" width="35"/>
		<h5 class="small" style="font-weight:bold;">Handyman</h5>
		<h6 class="small">Install, Repair, Assemble & More</h6>
		</div>

	</div>
	<div class="col col-50"><img src="img/handyman.png" style="border-top-right-radius:5px;border-bottom-right-radius:5px;" width="100%" height="100%" />
	</div>
	</div>
</div>

<div class="spacer" style="height:5px;"></div>

<div ui-sref="menu.sub_electrician">
	<div class="row" style="background-color:white; border-radius:5px;">
	<div class="col col-50" style="text-align:center;">
		<div style="margin-top:8%;">
		<img src="img/electrician_icon.png" width="35"/>
		<h5 class="small" style="font-weight:bold;">Electrician</h5>
		<h6 class="small">Get Connected</h6>
		</div>

	</div>
	<div class="col col-50"><img src="img/electrician.png" style="border-top-right-radius:5px;border-bottom-right-radius:5px;" width="100%" height="100%" />
	</div>
	
	</div>
</div>


<div class="spacer" style="height:5px;"></div>



<div>
	<div class="row" style="background-color:white; border-radius:5px;">
	
	
	<div class="col col-50" style="text-align:center;">
		<div style="margin-top:8%;">
		<img src="img/moving_icon.png" width="35"/>
		<h5 class="small" style="font-weight:bold;">Moving Help</h5>
		<h6 class="small">Let us help you move</h6>
		</div>

	</div>
	<div class="col col-50"><img src="img/moving_help.png" style="border-top-right-radius:5px;border-bottom-right-radius:5px;" width="100%" height="100%" />
	</div>
	</div>
</div>

<div class="spacer" style="height:5px;"></div>

<div>
	<div class="row" style="background-color:white; border-radius:5px;">
	<div class="col col-50" style="text-align:center;">
		<div style="margin-top:8%;">
		<img src="img/nurses_icon.png" width="35"/>
		<h5 class="small" style="font-weight:bold;">Nurses</h5>
		<h6 class="small">We care</h6>
		</div>
	</div>
	<div class="col col-50"><img src="img/nurses.png" style="border-top-right-radius:5px;border-bottom-right-radius:5px;" width="100%" height="100%" />
	</div>
	</div>
</div>

<div class="spacer" style="height:5px;"></div>

<div ui-sref="menu.painter_location">
	<div class="row" style="background-color:white; border-radius:5px;">
	
	
	<div class="col col-50" style="text-align:center;">
		<div style="margin-top:8%;">
		<img src="img/painter_icon.png" width="35"/>
		<h5 class="small" style="font-weight:900;">Painters</h5>
		<h6 class="small">Color your world</h6>
		</div>

	</div>
	<div class="col col-50"><img src="img/painter_image.png" style="border-top-right-radius:5px;border-bottom-right-radius:5px;" width="100%" height="100%" />
	</div>
	</div>
</div>

</ion-content>
</ion-view>