<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <ion-list id="menu-list1">
       
      <div class="spacer" style="height:20px;"></div>
        <ion-item style="border:0px !important;" class="item-icon-left" ui-sref="menu.home" menu-close="">
        <i class="icon"><img src="img/makeabooking_icon.png" height="20"></i>Make A Booking</ion-item>
        
        <ion-item style="border-bottom:0px !important;" class="item-icon-left" ui-sref="menu.mybookings" menu-close="">
        <i class="icon"><img src="img/bookings_icon.png" height="20"></i>My Bookings</ion-item>
        
        <ion-item style="border-bottom:0px !important;" class="item-icon-left" ui-sref="menu.settings" menu-close="" >
        <i class="icon"><img src="img/settings_icon.png" height="20"></i>Settings</ion-item>   

        <ion-item style="border-bottom:0px !important;" ng-click="logout();" class="item-icon-left" menu-close="" >
        <i class="icon"><img src="img/login_icon.png" height="20"></i>Log Out</ion-item>
       
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>