<ion-view view-title="My Bookings" hide-nav-bar="false" >
    
  <ion-content scroll="false" style="background-color:#f3f3f3;">
     <ion-slide-box slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs>
      <ion-slide ion-slide-tab-label="UPCOMING" >

       

 <!--     <div style="padding:10px;">
        <div class="row" style="background-color:white;border-radius:5px;">
          <div class="col" style="text-align:center;">
            <img src="img/home_cleaning_icon.png" height="40" style="margin-top:10px;" />
            <h3 style="margin-top:5px;margin-bottom:5px;">Home Cleaning</h3>
            <p>Thursday- December 25 </br>1:00PM - 3 Hours</p>
          </div>
        </div>
      </div>  
-->


<ion-item class="item-thumbnail-left item-text-wrap" id="menu-list-item2" menu-close="">
          <img src="img/home_cleaning_icon.png">
          <h2 style="font-size:22px;font-weight:bold;margin-top:10px;">Home Cleaning</h2>
          <p>Thursday- December 25 </br>1:00PM - 3 Hours</p>
</ion-item>
<div class="spacer" style="height:5px;"></div>
<ion-item class="item-thumbnail-left item-text-wrap" id="menu-list-item2" menu-close="">
          <img src="img/electrician_icon.png">
          <h2 style="font-size:22px;font-weight:bold;margin-top:10px;">Electrician</h2>
          <p>Thursday- December 26 </br>1:00PM - 3 Hours</p>
</ion-item>


      </ion-slide>
      <ion-slide ion-slide-tab-label="PAST">


<ion-item class="item-thumbnail-left item-text-wrap" id="menu-list-item2" menu-close="">
          <img src="img/electrician_icon.png">
          <h2 style="font-size:22px;font-weight:bold;margin-top:10px;">Electrician</h2>
          <p>Thursday- December 26 </br>1:00PM - 3 Hours</p>
</ion-item>

      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
