<ion-view title="<img src='img/plumber_icon_small.png' height='35'/> " hide-nav-bar="false">
  <ion-content padding="false" class="has-header" style="background-color:#f3f3f3;">
  	

  <h4 style="text-align:center;padding:20px;">Where are you located</h4>
  <label class="item item-input">
    <i class="icon ion-home"></i><input type="number" placeholder="Zip Code" style="padding-left:10px;">
  </label>


  </ion-content>
<div class="bar bar-footer bar-calm" ui-sref="menu.plumber_aboutjob">
  <div class="title">Next</div>
</div>
</ion-view>