<ion-view title="Details">
  <ion-content padding="false" class="has-header" style="background-color:#f3f3f3;">
  	


<!-- DRAINS-->
  <h4 style="text-align:center;padding:20px;">Tell us about the job</h4>
  <label class="item item-input item-select">
    <div class="input-label">
      Drains
    </div>
    <select>
      <option>0</option>
      <option>1</option>
      <option selected>2</option>
      <option>3</option>
      <option >4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </label>


<!-- Faucets-->
  <h4 style="text-align:center;padding:20px;">Tell us about the job</h4>
  <label class="item item-input item-select">
    <div class="input-label">
      Faucets
    </div>
    <select>
      <option>0</option>
      <option>1</option>
      <option selected>2</option>
      <option>3</option>
      <option >4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Shower Heads
    </div>
    <select>
      <option selected>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option >4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      What do you need done ?
    </div>
    <select>
      <option selected>New Installation</option>
      <option>Repair</option>
      <option>Replacement</option>
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Do you need us to provide a new faucet ?
    </div>
    <select>
      <option selected>No</option>
      <option>Yes</option>
    </select>
  </label>





<!-- Toilet-->
  <h4 style="text-align:center;padding:20px;">Tell us about the job</h4>
  <label class="item item-input item-select">
    <div class="input-label">
      Flush Repair
    </div>
    <select>
      <option>0</option>
      <option>1</option>
      <option selected>2</option>
      <option>3</option>
      <option >4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Unclog Toilets
    </div>
    <select>
      <option>0</option>
      <option>1</option>
      <option selected>2</option>
      <option>3</option>
      <option >4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </label>

<!-- Garbage-->
  <h4 style="text-align:center;padding:20px;">Tell us about the job</h4>
  <label class="item item-input item-select">
    <div class="input-label">
      Disposals
    </div>
    <select>
      <option>0</option>
      <option>1</option>
      <option selected>2</option>
      <option>3</option>
      <option >4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      What do you need done ?
    </div>
    <select>
      <option selected>New Installation</option>
      <option>Repair</option>
      <option>Replacement</option>
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Do you need us to provide a garbage disposal ?
    </div>
    <select>
      <option selected>No</option>
      <option>Yes</option>
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Do the necessary water and power outlets already exist?
    </div>
    <select>
      <option selected>No</option>
      <option>Yes</option>
    </select>
  </label>

<!-- Something Else-->
  <h4 style="text-align:center;padding:20px;">Tell us about the job</h4>
  <label class="item item-input item-select">
    <div class="input-label">
      Hours
    </div>
    <select>
      <option>0</option>
      <option>1</option>
      <option selected>2</option>
      <option>3</option>
      <option >4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </label>
</br></br></br></br></br>





  </ion-content>
  <div class="bar bar-footer bar-calm" ui-sref="menu.plumber_aboutjob2">
    <div class="title">Next</div>
  </div>
</ion-view>